[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"

[packages]
requests = "*"
discord = "*"
dblpy = "==0.3.0"
"discord.py" = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
