[prisbot.discord]
bot_token = "YOUR DISCORD BOT TOKEN HERE"
# Owners for the bot. Put user snowflakes here.
owners = [ 490650609641324544, 304406232582717440 ]
# Default prefix for the bot.
prefix = "prx."

[prisbot.database]
user = "ferris"
host = "localhost"
password = "rustup"
port = 3306
database_name = "prismarine_rusted"
# Use the below option if you need to pass extra connection options
url = "mysql://ferris:rustup@localhost:3307/prismarine_rusted"

